.footer__container {
    background-color: var(--bg-color-secondary);
    padding: var(--padding-left-right);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__info > a {
    color: var(--primary-color);
}

.footer__list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer__list__item > a {
    color: var(--secondary-color);
    font-size: 1.5rem;
}