.sobre-mi__container {
    background: var(--bg-color-primary);
    padding: var(--padding-left-right);
    height: 100vh;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-mi__titulo {
    font-size: 2rem;
}

.sobre-mi__parrafo {
    text-align: center;
    font-size: 1.2rem;
    word-spacing: 4px;
}

@media screen and (max-width:425px) {
    .sobre-mi__parrafo {
        font-size: 1.1rem;
        word-spacing: 4px;
    }
}