.experiencia__container {
    background: var(--bg-color-primary);
    font-family: var(--font);
    height: 100vh;
    padding: var(--padding-l-r);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.proyectos__container {
    display: flex;
    width: 100%;
    
}

.proyectos__titulo {
    font-size: var(--title-size);
    color: var(--primary-color);
    text-align: center;
}

.proyectos__tarjeta {
    background: var(--bg-color-secondary);
    width: 100%;
    height: 355px;
    border-radius: 5px;
    display: flex;

}

.tarjeta__imagen {
    background-image: url('./../img/encriptador-desencriptador.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.tarjeta__info {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

