.skills__container {
    background: var(--bg-color-primary);
    font-family: var(--font);
    height: 100vh;
    padding: var(--padding-l-r);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.skills__titulo {
    font-size: var(--title-size);
    color: var(--primary-color);
    text-align: center;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__tarjeta {
    background-color: var(--primary-color);
    width: 176px;
    height: 176px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.skills__icon {
    color: var(--secondary-color);
    font-size: 2rem;
    padding-bottom: 8px;
    padding-left: 16px;
}

.skills__nombre {
    padding-bottom: 16px;
    padding-left: 16px;
}