.sobre-mi__container {
    background: var(--bg-color-secondary);
    font-family: var(--font);
    height: 100vh;
    padding: var(--padding-l-r);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-mi__titulo {
    font-size: var(--title-size)
}

.sobre-mi__parrafo {
    display: flex;
    font-size: 1.2rem;
    word-spacing: 3px;
}